body {
    background-color: #1f2022;
}

h2, h3, p {
    color: white
}

#closure-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

#isd-selector {
    background-color: #121212;
    border-color: #383838;
}

.loader {
    display: none;
    /* Initially hidden */
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Toggle Switch Styles */
.toggle-bg {
    transition: .4s;
}

.toggle-dot {
    transition: .4s;
}

.text-green-500 {
    --darkreader-text--tw-text-opacity: 1;
    color: rgb(79, 240, 186);
}